.container {
  display: flex;
  flex-direction: column;
  margin: 48px;
  padding: 16px 32px;
  align-items: baseline;
  border: 1px solid #d8d8d8;
  border-radius: 4.8px;
  gap: 5px;
  background-color: #fafafa;
}

.bookCard {
  width: 75rem;
  height: 10.625rem;
  margin: 0 0.063rem 0.938rem 0;
  padding: 2rem 7.438rem 1.625rem 1.688rem;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  background-color: #fff;
}

.category {
  font-size: 17px;
  font-weight: bold;
  color: #999898;
}

.author {
  font-size: 15px;
  color: #4386bf;
}

.title {
  font-size: 20px;
  font-weight: bold;
  color: #000;
}

.addCard {
  margin: 48px;
  padding: 16px 32px;
  align-items: baseline;
  border: 1px solid #d8d8d8;
  border-radius: 4.8px;
  gap: 5px;
  background-color: #fafafa;
}

h2 {
  color: #999898;
  font-size: 20px;
  font-weight: bold;
}

.addNew {
  width: 75rem;
  margin: 0 0.063rem 0.938rem 0;
  padding: 2rem 7.438rem 1.625rem 1.688rem;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  background-color: #fff;
}

.navbar {
  display: flex;
  width: 100%;
  gap: 10%;
  margin: 48px;
}

.link {
  display: flex;
  list-style-type: none;
  text-decoration: none;
  gap: 20%;
}
