@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Roboto+Slab:wght@200;300;700&display=swap');

.navbar {
  display: flex;
  height: 5.938rem;
  width: 100%;
  background-color: #ffff;
  align-items: center;
  border-bottom: solid 1px #e8e8e8;
}

.store-title {
  color: #0290ff;
  width: 15rem;
  height: 2.313rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.875rem;
  font-weight: bold;
  margin: 0.375rem 2.938rem 0.125rem 6.25rem;
}

.links {
  display: flex;
  list-style-type: none;
}

.link {
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  gap: 2.463rem;
  letter-spacing: 1.9px;
  height: 1rem;
  color: #121212;
  font-size: 0.813rem;
}

.book-link {
  width: 3.688rem;
  margin: 1.125rem 2.563rem 0.688rem 0;
}

.category-link {
  width: 6.563rem;
  margin: 1.125rem 41.5rem 0.688rem 2.563rem;
  opacity: 0.5;
}

.link:hover {
  color: #121212;
  font-weight: bold;
  cursor: pointer;
}

.userIcon {
  position: absolute;
  border: 1px #888 solid;
  border-radius: 50%;
  color: #fff;
  height: 2rem;
  width: 2rem;
  background-color: #0290ff;
  right: 10%;
  top: 5%;
}

.bookCard {
  display: grid;
  grid-template-columns: 3fr 2fr 2fr;
  width: 60rem;
  height: 10.625rem;
  margin: 2.313rem 6.25rem 0;
  padding: 2rem 9.188rem 1.625rem 1.688rem;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  background-color: #fff;
}

.bookDesk {
  display: flex;
  flex-direction: column;
}

.text {
  font-family: 'Roboto Slab', serif;
}

.category {
  height: 1.125rem;
  margin: 0 2.438rem 0 0;
  font-size: 0.875rem;
  color: #121212;
  opacity: 0.5;
  font-weight: bold;
}

.author {
  color: #4386bf;
  height: 1.188rem;
  margin: 0.25rem 0 0;
  font-size: 0.875rem;
  font-weight: 300;
}

.title {
  color: #121212;
  font-size: 1.375rem;
  font-weight: bold;
  height: 1.813rem;
  margin: 0.25rem 0;
}

.remove {
  font-size: 0.875rem;
  padding: 0;
  margin-top: 2.3rem;
  background-color: transparent;
  border: none;
  font-family: 'Roboto Slab', serif;
  color: #0290ff;
}

.remove:hover {
  color: #121212;
  cursor: pointer;
}

.progressContainer {
  display: flex;
  margin-top: 3rem;
}

.graph {
  color: #ffff;
  width: 4.25rem;
  height: 4.25rem;
  border-style: solid;
  border-width: 5px;
}

.percentage {
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  color: #121212;
}

.percentageNum {
  width: 4.25rem;
  height: 2.438rem;
  margin: 0.063rem 5.75rem 0 0.688rem;
  font-size: 2rem;
}

.completed {
  width: 5rem;
  height: 1.125rem;
  margin: 0.438rem 4.938rem 0.75rem 0.75rem;
  opacity: 0.5;
  font-size: 0.875rem;
}

.bookChapter {
  margin-right: 100px;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto Slab', serif;
  margin-top: 2.063rem;
}

.currentChapter {
  width: 7.875rem;
  height: 1.125rem;
  margin: 0.063rem 3.625rem 0 3.688rem;
  color: #121212;
  opacity: 0.5;
  font-size: 0.813rem;
  font-weight: 300;
}

.chapter {
  width: 4.688rem;
  height: 1.313rem;
  margin: 0.438rem 6.813rem 0.25rem 3.688rem;
  color: #121212;
  font-size: 1rem;
  font-weight: 300;
}

.progressBtn {
  width: 11.5rem;
  height: 2.063rem;
  margin: 0.75rem 0 0.563rem 3.688rem;
  padding: 0.438rem 1.188rem 0.5rem 1.375rem;
  border-radius: 3px;
  border: none;
  background-color: #0290ff;
  color: #fff;
}

.progressBtn:focus,
.progressBtn:hover {
  background-color: #fff;
  color: #0290ff;
  border: 3px solid #0290ff;
  cursor: pointer;
}

.addCard {
  display: flex;
  flex-direction: column;
  border-top: solid 1px #e8e8e8;
  margin: 1.813rem 0;
  height: auto;
}

.formTitle {
  height: 1.5rem;
  margin: 1.813rem 32.75rem 1.188rem 6.25rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.25rem;
  color: #888;
}

.AddNew {
  display: flex;
  margin: 1.813rem 6.25rem;
  gap: 1rem;
}

input {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  color: #c4c4c4;
  height: 1.188rem;
  letter-spacing: -0.15px;
  padding: 0.813rem 8.688rem 0.813rem 1.063rem;
  border-radius: 4px;
  border: 1px solid #c4c4c4;
  background-color: #fff;
}

select {
  height: 2.813rem;
  letter-spacing: -0.15px;
  padding: 0.813rem 8.688rem 0.813rem 1.063rem;
  border-radius: 4px;
  border: 1px solid #c4c4c4;
  background-color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  color: #c4c4c4;
}

.addBtn {
  background-color: #0290ff;
  border-radius: 3px;
  border: none;
  width: 7rem;
  height: 2.813rem;
  color: #fff;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  right: 10%;
}

.addBtn:hover,
.addBtn:focus {
  cursor: pointer;
  color: #0290ff;
  background-color: #fff;
  border: 3px solid #0290ff;
}

.categories {
  display: flex;
  text-align: center;
  align-items: center;
}

.categoryBtn {
  background-color: #0290ff;
  border-radius: 3px;
  border: none;
  width: 12rem;
  height: 2.813rem;
  color: #fff;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  margin-left: 500px;
  margin-top: 200px;
}
