@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Roboto+Slab:wght@200;300;700&display=swap');

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  display: flex;
  background-color: white;
  height: 100vh;
}
